name: Notify Discord on GitHub Events
on: [push, issues, pull_request]

jobs:
  notify:
    runs-on: ubuntu-latest
    steps:
      - name: Set notification variables
        id: set_vars
        shell: bash
        run: |
          if [ "${{ github.event_name }}" = "push" ]; then
            echo "title=Nouveau push sur le dépôt !" >> "$GITHUB_OUTPUT"
            echo "color=5763719" >> "$GITHUB_OUTPUT"
            {
              echo "description<<EOF"
              echo "**Auteur** : ${{ github.actor }}"
              echo "**Branche** : \`${{ git
